<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Classic Studio | Front - Responsive Website Template</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  <%= favicon_link_tag '/favicon.ico' %>

  <!-- CSS Implementing Plugins -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- CSS Front Template -->
  <%= stylesheet_link_tag    'theme', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>

<body>
  <%= yield %>
</body>

</html>